
body {
  background-color: #FEFEFE; 
}

:root {
  --primary-color: #FF8C00; /* Orange */
  --primary-color-dark: #e07b00; /* Darker shade */
  --primary-color-light: #ffb74d; /* Lighter shade */
  --secondary-color: #FEFEFE;
  --text-color: #333333;
  --white: #ffffff;
  --max-width: 1200px;
}