.system-button {
    display: inline-block;      
    color: #EAEAEA;                 
    background-color: #FF8C00;  
    border: none;               
    padding: 0.5rem 1rem;        
    max-width: 5rem;              
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.system-button:hover {
    background-color: #E67E22; 
    color: #EAEAEA;
}

.system-button:focus {
    color: #333333;                  
    background-color: #E67E22; 
    border: none;   
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5);
}


.system-button:active .btn {
    color: #EAEAEA;                  
    background-color: #E67E22; 
    border: none;   
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 140, 0, 0.5);
}


.btn-primary {
    background-color: #FF8C00;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    width: 100%;
    margin-top: 1rem;
  }

  .btn-primary:hover { background-color: #E67E22; }

  .btn-edit {
    color: green;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-edit:hover {
    text-decoration: underline;
    color: rgb(3, 87, 3);
    border: none;
}

.btn-archive {
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-archive:hover {
    color: rgb(165, 19, 19);
    text-decoration: underline; 
    border: none;
}