.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F8F9FD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table td {
    border: none;
    padding: 1rem;
    text-align: center;
    color: #333333;
    transition: background-color 0.2s ease;
}

.table th {
    border: none;
    padding: 1rem;
    text-align: center;
    background-color: #ffad5d;
    color: #333333;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.table tbody tr {
    border-bottom: 1px solid #E3E7EA;
}

.table tbody tr:hover {
    background-color: #F2F3F6;
}

.table tbody tr:last-child {
    border-bottom: none;
}

.btn-outline-success,
.btn-outline-danger {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.btn-outline-success:hover {
    background-color: #c3e6cb;
}

.btn-outline-danger:hover {
    background-color: #f5c6cb;
}

.btn-outline-success:focus,
.btn-outline-danger:focus {
    background-color: transparent;
    outline: none;
}