.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F8F9FD;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table td {
    border: none;
    padding: 0.75rem;
    text-align: center;
    background-color: #FEFEFE;
    color: #333333;
    transition: background-color 0.2s ease;
}

.table th {
    border: none;
    padding: 0.75rem;
    text-align: center;
    background-color: #ffad5d;
    color: #333333;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.table tbody tr {
    border-bottom: 0.00625rem solid #E3E7EA;
}

.table tbody tr:last-child {
    border-bottom: none;
}

.index-column {
    width: 4rem;  
    text-align: center;
}